[core]
  excludesfile = ~/.gitignore-global
	autocrlf = input
[init]
  templatedir = ~/.gitfiles/templates/
[user]
  name = Maxim Filimonov
  email = tpaktopsp@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  tool = araxis
[merge]
  tool = araxis
[alias]
  d = difftool
	pb = pull --rebase
[merge]
  tool = vimdiff
[mergetool "threesome"]
  cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'ThreesomeInit'"
  trustExitCode = true
[github]
  user = Maxim-Filimonov
[push]
  default = simple
